* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $whiter
}

img {
	display: block;
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

button {
	border: 0;
	border-style: none;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	margin-top: 110px;

	.footer {
		margin-top: auto
	}
}

fieldset {
	border: 0;
	padding: 0;
}

textarea {
	min-height: 130px;
	padding: 10px 14px;
	margin: 0;
	resize: none;
	border: 1px solid #D0D5DD;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	font-family: $ff;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $gray;

	&::placeholder {
		font-family: $ff;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		color: $gray;
	}
}

