// Grid.
$xs	: 375px;
$sm	: 480px;
$md	: 768px;
$lg	: 992px;
$xl	: 1200px;
$xxl: 1366px;

// Container max-width.
$container-md: 760px;
$container-lg: 990px;
$container-xl: 1472px;

// Container padding.
$container-padding: 20px;

// Font families.
$ff			: 'Plus Jakarta Sans', sans-serif;
$ff-inter	: 'Inter', sans-serif;

// Font sizes.
$fs-xs	: 12px;
$fs-sm	: 14px;
$fs-md	: 16px;
$fs-lg	: 18px;
$fs-xl	: 20px;

// Font weights.
$fw-light	: 200;
$fw-regular	: 400;
$fw-medium	: 500;
$fw-semibold: 600;
$fw-bold	: 700;

// Line heights.
$lh			: 1;
$lh-title	: 1.3;

// Colors.
$white	: #FFFFFF;
$whiter	: #FAFAFA;
$black	: #2B2B2B;
$yellow	: #FFAD33;
$blue	: #02447B;
$gray   : #667085;
$dark   : #52525B;
$light  : #EDEDED;
$bord   : #E4E4E7;

// Others.
$tr     : 0.35s;
$op     : 0.6;
$border : 8px;