.about {
	padding: 50px 0;

	@media all and (min-width: $lg) {
		padding: 225px 0 100px;
	}

	.container {
		max-width: 1300px;
	}

	h2 {
		font-family: $ff-inter;
		font-weight: $fw-regular;
		font-size: 32px;
		line-height: 24px;
		color: $black;
		margin-bottom: 69px;
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-balls {
		position: absolute;
		left: -23%;
		top: 22%;
		z-index: -1;
	}

	&-rect {
		position: absolute;
		right: -47%;
		top: -13%;
		z-index: -1;
	}

	&-text {
		width: 100%;

		@media all and (min-width: $lg) {
			width: 50%;
		}
	}

	&-desc {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 16px;
		line-height: 24px;
		color: $black;
		margin-bottom: 46px;
		padding-right: 10px;
		padding-left: 10px;

		&:last-child {
			max-width: 518px;
			margin-bottom: 0;
		}
	}

	&-img {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 30px;

		@media all and (min-width: $lg) {
			width: 50%;
			margin-top: 0;
			justify-content: flex-end;
		}
	}
}