.clients {
	padding: 100px 0 100px;

	&-star {
		position: absolute;
		right: -85%;
		top: -152%;
		z-index: -1;
		transform: rotate( 28deg);
	}

	.container {
		max-width: 1157px;
		position: relative;
		z-index: 1;

		.underline {
			font-weight: $fw-medium;
			font-size: 38px;
			line-height: 54px;
			text-align: center;
			max-width: 210px;
			margin: 0 auto 88px auto;
		}
	}

	&-brands {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
	}

	&-brand {
		padding: 0 8px;
		width: calc( 100% / 4 );
		
		margin-bottom: 16px;

		&:nth-child( n + 5 ) {
			margin-bottom: 0;
		}

		&-inner {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 180px;
			border: 2px solid #F6F6F6;
		}
	}
}