.industries {
	padding: 50px 0;

	@media all and (min-width: $lg) {
		padding: 128px 0;
	}

	.container {
		max-width: 1256px;
	}

	h2 {
		text-align: center;
		margin-bottom: 90px;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
	}

	&-item {
		width: calc( 100% / 1 );
		padding: 0 16px;
		display: flex;
		flex-direction: column;
		margin-bottom: 55px;

		&:last-child {
			margin-bottom: 0;
		}

		@media all and (min-width: 576px) {
			width: calc( 100% / 2 );

			&:nth-child( n + 15 ) {
				margin-bottom: 0;
			}
		}

		@media all and (min-width: $lg) {
			width: calc( 100% / 4 );

			&:nth-child( n + 13 ) {
				margin-bottom: 0;
			}
		}

		
	}

	&-stripe {
		width: 100%;
		height: 16px;
		background-color: $yellow;
		border-radius: 50px;
		margin-bottom: 24px;
	}

	&-title {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-medium;
		font-size: 20px;
		line-height: 30px;
		color: $black;
		margin-bottom: 4px;
	}
}