.services {
	padding: 50px 0;

	@media all and (min-width: $xxl) {
		padding: 195px 0 100px;
	}

	h2 {
		max-width: 280px;
		margin: 0 auto 45px auto;

		@media all and (min-width: $md) {
			margin: 0;
			margin-bottom: 75px;
		}

		@media all and (min-width: $lg) {
			max-width: 350px;
		}
	}

	&-rect {
		display: none;
		position: absolute;
		left: -41%;
		top: -55%;
		z-index: -1;

		@media all and (min-width: $xxl) {
			display: block;
		}
	}

	&-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		@media all and (min-width: $lg) {
			flex-direction: row;
		}
	}

	&-img {
		width: 100%;
		display: flex;
		justify-content: center;
		order: 2;

		@media all and (min-width: $lg) {
			width: 50%;
			padding-top: 30px;
			padding-left: 50px;
			justify-content: flex-start;
			order: 1;
		}
	}

	&-info {
		order: 1;
		width: 100%;
		display: flex;
		flex-direction: column;

		@media all and (min-width: $lg) {
			width: 50%;
		}
	}

	&-desc {
		font-family: $ff;
		font-style: normal;
		font-weight: $fw-regular;
		font-size: 16px;
		line-height: 24px;
		color: $black;
	}
}