.header {
	padding: 32px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: padding ease $tr,
			box-shadow ease $tr,
			background-color ease $tr;

	&.scrolled {
		padding: 15px 0;
		background-color: $white;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.349);

		.header-logo-img {
			animation: rotate infinite linear 7s;

			@keyframes rotate {
				0% {
					transform: rotate( 0deg );
				}

				100% {
					transform: rotate( 360deg );
				}
			}
		}

		.wrapper {
			margin-top: 810px;
		}
	}

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media all and (min-width: $lg) {
			justify-content: flex-start;
		}
	}

	&-logo {
		display: flex;
		align-items: center;

		@media all and (min-width: $lg) {
			margin-right: 40px;
		}

		@media all and (min-width: $xxl) {
			margin-right: 186px;
		}

		&-img {
			margin-right: 6px;
			transition: transform ease $tr;
		}
	}

	&-ui-wrapper {
		width: 100%;
		display: none;

		@media all and (min-width: $lg) {
			display: flex;
		}

		&.opened {
			animation: anim forwards ease 0.5s;
			overflow-y: auto;
			margin: auto 0;

			@keyframes anim {
				0% {
					display: block;
					transform: translateY(-100%);
				}

				100% {
					display: block;
					transform: translateY(0);
				}
				
			}

			width: 250px;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 100;
			background-color: $white;
			padding: 70px 0;
			box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.336);

			nav {
				display: flex;
				flex-direction: column;
				margin: 0;
				margin-bottom: 30px;
			}

			.header-nav-link {
				margin-right: 0;
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.header-social-links {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
	}

	&-nav {
		display: flex;
		align-items: center;
		
		@media all and (min-width: $lg) {
			margin-right: 50px;
		}

		@media all and (min-width: $xl) {
			margin-right: 100px;
		}

		@media all and (min-width: $xxl) {
			margin-right: 206px;
		}

		&-link {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			opacity: $op;
			margin-right: 32px;

			&:hover {
				opacity: 1;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-social-links {
		display: flex;
		align-items: center;
		margin-right: auto;
	}

	&-social-link {
		margin-right: 19px;
		transition: transform ease $tr,
			opacity  ease $tr;

		&:first-child:hover {
			transform: translateX( -5px );
		}

		&:last-child:hover {
			transform: translateX( 5px );
		}

		&:last-child {
			margin-right: 0;
		}
	}
}