.header {
	padding: 32px 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 100;
	transition: padding ease $tr,
			box-shadow ease $tr,
			background-color ease $tr;

	&.scrolled {
		padding: 15px 0;
		background-color: $white;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.349);

		.header-logo-img {
			animation: rotate infinite linear 7s;

			@keyframes rotate {
				0% {
					transform: rotate( 0deg );
				}

				100% {
					transform: rotate( 360deg );
				}
			}
		}

		.wrapper {
			margin-top: 810px;
		}
	}

	&-wrapper {
		display: flex;
		align-items: center;
	}

	&-logo {
		display: flex;
		align-items: center;
		margin-right: 186px;

		&-img {
			margin-right: 6px;
			transition: transform ease $tr;
		}
	}

	&-nav {
		display: flex;
		align-items: center;
		margin-right: 206px;

		&-link {
			font-family: $ff;
			font-style: normal;
			font-weight: $fw-regular;
			font-size: 16px;
			line-height: 24px;
			color: $black;
			opacity: $op;
			margin-right: 32px;

			&:hover {
				opacity: 1;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-social-links {
		display: flex;
		align-items: center;
		margin-right: auto;
	}

	&-social-link {
		margin-right: 19px;
		transition: transform ease $tr,
			opacity  ease $tr;

		&:first-child:hover {
			transform-origin: left bottom;
			transform: rotate( -3deg );
		}

		&:last-child:hover {
			transform-origin: right bottom;
			transform: rotate( 3deg );
		}

		&:last-child {
			margin-right: 0;
		}
	}
}